INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
examples/Makefile
examples/Makefile.in
examples/npp-client/.deps/
examples/npp-client/Makefile
examples/npp-client/Makefile.in
examples/npp-server/.deps/
examples/npp-server/Makefile
examples/npp-server/Makefile.in
install-sh
libnfc-llcp/.deps/
libnfc-llcp/Makefile
libnfc-llcp/Makefile.in
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
test/.deps/
test/Makefile
test/Makefile.in
tools/Makefile
tools/Makefile.in
tools/llcp-pdu-explain/.deps/
tools/llcp-pdu-explain/Makefile
tools/llcp-pdu-explain/Makefile.in
tools/llcp-test-client/.deps/
tools/llcp-test-client/Makefile
tools/llcp-test-client/Makefile.in
tools/llcp-test-server/.deps/
tools/llcp-test-server/Makefile
tools/llcp-test-server/Makefile.in
